<p id="notice"><%= notice %></p>

<p>
  <b>Constituency:</b>
  <%= @const.id %>
</p>

<p>
  <b>Votes:</b><br/>
<%# @commi_voi.each do |commi_voi| %>
  Województwo <%= @const.voivodeship.name %>
<%# @votes.each do |votes| %>
  <p>
  Komitet: <%= @votes.committee.name %><br/>
  Ilość głosów: <%= @votes.amount %>
  </p>
<%# end %>
</p>

<span>
<%= link_to 'Edit', edit_committees_voivodeship_path(@const.voivodeship_id) %> |
<%= link_to 'Back', committees_voivodeships_path %>
</span>
