<p id="notice"><%= notice %></p>

<p>
  <b>Committee:</b>
  <%= @committees_voivodeship.committee_id %>
</p>

<p>
  <b>Voivodeship:</b>
  <%= @committees_voivodeship.voivodeship_id %>
</p>


<%= link_to 'Edit', edit_committees_voivodeship_path(@committees_voivodeship) %> |
<%= link_to 'Back', committees_voivodeships_path %>
