<%= form_for(@voivodeship) do |f| %>
  <% if @voivodeship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voivodeship.errors.count, "error") %> prohibited this voivodeship from being saved:</h2>

      <ul>
      <% @voivodeship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mandates %><br />
    <%= f.number_field :mandates %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
