<%= form_for @user do |f| %>
    <!-- kod wyświetlający błędy -->
    <p>
      <%= f.label :role %> <br />
      <%= f.select :role, options_for_select(User::ROLES) %>

    <p><%= f.submit "Submit" %> </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
